<div>
	<form [formGroup]="form">
		
		<div class="form-group">
			<label for="titreoperation">Titre Operation</label>
			<input formControlName="titreoperation" type="text" class="form-control" id="titreoperation">
		</div>

		<div class="form-group">
			<label for="entreprise">Entreprise</label>
			<input formControlName="entreprise" type="text" class="form-control" id="entreprise">
		</div>

		<div class="form-group">
			<label for="annee_de_livraison">Année de Livraison</label>
			<input formControlName="annee_de_livraison" type="text" class="form-control" id="annee_de_livraison">
		</div>
		
		<div class="form-group">
			<label for="ville">Ville</label>
			<input formControlName="ville" type="text" class="form-control" id="ville">
		</div>

		<div class="form-group">
			<label for="mandataire">Mandataire</label>
			<input formControlName="mandataire" type="text" class="form-control" id="mandataire">
		</div>

		<div class="form-group">
			<label for="ppi">PPI</label>
			<input formControlName="ppi" type="text" class="form-control" id="ppi">
		</div>

		<div class="form-group">
			<label for="lycee">Lycée</label>
			<input formControlName="lycee" type="text" class="form-control" id="lycee">
		</div>

		<div class="form-group">
			<label for="notification_du_marche">Notification du Marché</label>
			<input formControlName="notification_du_marche" type="text" class="form-control" id="notification_du_marche">
		</div>

		<div class="form-group">
			<label for="codeuai">Code UAI</label>
			<input formControlName="codeuai" type="text" class="form-control" id="codeuai">
		</div>

		<div class="form-group">
			<label for="longitude">Longitude</label>
			<input formControlName="longitude" type="text" class="form-control" id="longitude">
		</div>

		<div class="form-group">
			<label for="etat_d_avancement">Etat d'Avancement</label>
			<input formControlName="etat_d_avancement" type="text" class="form-control" id="etat_d_avancement">
		</div>

		<div class="form-group">
			<label for="montant_des_ap_votes_en_meu">Montant des AP votés en MEU</label>
			<input formControlName="montant_des_ap_votes_en_meu" type="text" class="form-control" id="montant_des_ap_votes_en_meu">
		</div>

		<div class="form-group">
			<label for="cao_attribution">CAO Attibution</label>
			<input formControlName="cao_attribution" type="text" class="form-control" id="cao_attribution">
		</div>
		
		<div class="form-group">
			<label for="latitude">Latitude</label>
			<input formControlName="latitude" type="text" class="form-control" id="latitude">
		</div>

		<div class="form-group">
			<label for="maitrise_d_oeuvre">Maitrise d'OEuvre</label>
			<input formControlName="maitrise_d_oeuvre" type="text" class="form-control" id="maitrise_d_oeuvre">
		</div>

		<div class="form-group">
			<label for="mode_de_devolution">Mode de Dévolution</label>
			<input formControlName="mode_de_devolution" type="text" class="form-control" id="mode_de_devolution">
		</div>

		<div class="form-group">
			<label for="annee_d_individualisation">Année d'Individualisation</label>
			<input formControlName="annee_d_individualisation" type="text" class="form-control" id="annee_d_individualisation">
		</div>

		<div class="form-group">
			<label for="enveloppe_prev_en_meu">Enveloppe Prevue en MEU</label>
			<input formControlName="enveloppe_prev_en_meu" type="text" class="form-control" id="enveloppe_prev_en_meu">
		</div>

		<br>

		<div id="buttons" class="row justify-content-evenly">
			<div class="col d-flex justify-content-center">
				<button type="submit" class="btn btn-success" (click)="save()">Save</button>
			</div>
		</div>

	</form>
</div>