
<h3>
	<a href="https://github.com/kpi-intelligence/technical-test">
		KPI Intelligence - Full-stack Developer Test hammer_and_wrench
	</a>
</h3>
<p>
	Hi! We're glad you want to join KPI Intelligence! We've designed this test so that you can show us how you think about a problem and how you implement its solution. We'll discuss about it during our next meeting.
</p>

<h4>
	Project
</h4>
<p>
	Paris Region wants to have a web application to track the investments it makes for its high schools buildings. They provided you the dataset.json files containing the existing investments.
</p>

<h4>
	Stage 1: REST API
</h4>
<p>
	Write a REST API to retrieve the investments data:
</p>
<ul>
	<li>
		List all the investments
	</li>
	<li>
		List investments filtered by ville and/or by etat_d_avancement
	</li>
	<li>
		Get a single investment by id
	</li>
</ul>
<p>
	Pay attention to the HTTP methods and status codes you use.
</p>


<h4>
	Stage 2: Web application
</h4>
<p>
	Implement a simple web application to show the investments:
</p>
<ul>
	<li>
		Display the list of investments in the form of a table
	</li>
	<li>
		Add a form so that we can trigger the API filters
	</li>
	<li>
		Add a page to show the details of a single investment
	</li>
</ul>

<h4>
	Bonus stages
</h4>
<p>
	Those are not required but can be cool to do!
</p>
<ul>
	<li>
		Add an endpoint to edit an investment
	</li>
	<li>
		Deploy your application to Heroku
	</li>
	<li>
		Display some graphs or interesting figures in the web application
	</li>
	<li>
		Have some cool idea? Go on +1
	</li>
</ul>

<h4>
	Modalities
</h4>
<ul>
	<li>
		You are free to use the languages and tools you are more comfortable with
	</li>
	<li>
		Create a repository on GitHub to store your source code and send us the link by e-mail once you've finished
	</li>
	<li>
		Please provide a README with instructions to run your project
	</li>
</ul>
<h4>
	License
</h4>
<p>
	This project is released under the MIT License.
</p>
<p>
	The dataset was released under Open Licence by Région Île-de-France: <a href="https://www.data.gouv.fr/fr/datasets/operations-de-construction-et-de-renovation-dans-les-lycees-francilens/">https://www.data.gouv.fr/fr/datasets/operations-de-construction-et-de-renovation-dans-les-lycees-francilens/</a>
</p>